<!DOCTYPE html>
<html>
    <head>
        <title>{{job.title}} - HireSphere</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'nav.html' %}
        {% include 'banner.html' %}
        <div class="container">
            <h1 class="text-center mt-4 mb-4">HireSphere</h1>
            <h3 class="mb-2 ">{{job.title}}</h3>
            <p class="lead mt-0">{{job.location}}</p>
            <h4>Responsibilities</h4>
            <ul>
                {% for line in job.responsibilities.split("\n") %}
                    <li>{{line}}</li>
                {% endfor %}
            </ul>
            <h4>Requirements</h4>
            <ol>
                {% for line in job.responsibilities.split("\n") %}
                    <li>{{line}}</li>
                {% endfor %}
            </ol>
            <h3>Salary</h3>
            <p>{{job.currency}}{{job.salary}}</p>
            {% include 'application_form.html' %}
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-large">Contact Us</button>
            <p class="mt-4">&copy; 2023 Job Career Website. All Rights Reserved.</p>
        </div>
    </body>
</html>